<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Just Cook It</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<!--<h1>Проба</h1>-->

<!--Главная форма-->
<form method="post" th:object="${searchRecipe}">

    <div>
        <h2>Введите ингредиент, который у вас есть !</h2>
        <input type="text" th:field="*{searchIngredientString}">
        <!-- Добавление ингредиентов список -->
        <button type="submit" th:formaction="@{/searchIngredient}">Добавить в список</button>
    </div>

    <div>
        <h2>Ваш список:</h2>
        <ul>
            <li th:each="item, stat : *{ingredientQuantities}">
                <span th:text="${item.ingredient.name}">Ингредиент</span>

                <!-- Скрытое поле, чтобы ID или объект ингредиента не терялся при перезагрузке -->
                <input type="hidden" th:field="*{ingredientQuantities[__${stat.index}__].ingredient.id}">
                <input type="hidden" th:field="*{ingredientQuantities[__${stat.index}__].ingredient.name}">
                <input type="hidden" th:field="*{ingredientQuantities[__${stat.index}__].ingredient.measured}">

                <!-- Поле количества отправится вместе с формой -->
                <input type="number"
                       th:field="*{ingredientQuantities[__${stat.index}__].amount}"
                       placeholder="Количество" step="0.1">

                <span th:text="${item.ingredient.measured}">кг</span>
            </li>
        </ul>

<!--        Поиск самих рецептов-->
        <button type="submit" th:formaction="@{/findRecipes}">Найти рецепты по этим данным</button>
    </div>
</form>

</body>
</html>
